::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: #eee;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	max-width: 1200px;
	margin: auto;
}

aside {
	user-select: none;
	width: 250px;
	position: fixed;
	height: 100%;
	overflow: auto;
	font-weight: bold;
}

aside h2 {
	font-family: 'Montserrat', sans-serif;
	float: none;
	letter-spacing: 4px;
	margin: 10px 10px 10px 20px;
}

aside a {
	transition: 0.2s;
	display: block;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
	cursor: pointer;
	font-size: 1em;
	color: #777;
	margin: 0 10px 0 10px;
	border-radius: 10px;
	font-family: "Roboto", sans-serif;
}

aside a:hover {
	background-color: #CCC;
	color: #111;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding: 10px;
	font-size: 1.3em;
}

a.active {
	background-color: #E4E4E4;
	color: #111;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-btn span {
	float: right
}

.dropdown-container {
	display: none;
	margin-left: 16px;
}

main {
	margin: 10px 10px 10px 250px;
	padding: 16px;
	font-family: "Montserrat", sans-serif;
	border-radius: 16px;
	transition: 0.5s;
}

main:hover {
	background-color: var(--main-bg-color);
}

header {
	position: relative;
	text-align: left;
}

header img {
	object-fit:cover;
	max-width:100%;
	height:100%;
	border-radius: 25px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
	position:absolute;
	top:50%;
	left:48px;
	transform:translate(0%, -100%);
	font-size:5em;
	color:white;
	font-weight:normal
}

article {
	padding:12px 24px;
	line-height: 1.6;
	color:#555
}

article a {
	color: #080;
}

.clearfix {
	overflow: auto;
}

.thumb {
	float: left;
	border: 1px solid #757575;
	border-radius: 8px;
	margin-right: 8px;
}

.player {
	width: 16px;
	height: 17px;
}

.play-button {
	background-color:#777;
	transition:.3s;
	padding:11px;
	text-decoration:none;
	font-size:1.25em;
	color:#fff;
	margin:5px;
	border-radius:10px;
	font-family:"Roboto",sans-serif
}

.play-button:hover{
	background-color:#CCC;
	color:#111
}

footer {
	color: #fff;
	background-color: #000;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
}

@media screen and (max-width:700px) {
	aside {
		width: 100%;
		position: relative;
	}
	main {margin: 10px}
}

