

body {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
	transition: 0.2s;
	margin: 0;
}


header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: var(--nav-color);
	border-bottom: 1px solid var(--nav-border);
	box-shadow: 0 0 8px var(--shadow-color);
	font-weight: bold;
	transition: 0.2s;
}

header * {
	display: inline;
	user-select: none;
}

.extern-nav {
	width: 14px;
	height: 14px;
	margin: -1px;
}

#title {
	padding: 12px;
	font-size: 24px;
	display:inline-block;
	text-decoration: none;
	color: inherit;
	transition: 0.2s;
}

#bgGame {
	position: fixed;
	width: 100%;
	height: 80%;
	left: 0;
	z-index: -1;
	border: none;
}

#current {
	background-color: var(--nav-selected);
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	font-size:0;
}

#navbar li {
	margin:0;
	padding:0;
}

#navbar li a {
	padding: 18px 16px;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: 0.2s;
	font-size:16px;
	line-height: 1;
}


#navbar li a:hover {
	background-color: var(--nav-hover);
}


#profile {
	width: 96px;
	height: 96px;
	object-fit: cover;
	display: inline-block;
	border-radius: 50%;
	margin: 8px 24px 0 24px;
	padding: 0;
	vertical-align: top;
	box-shadow: 0 0 5px var(--shadow-color);
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content:center;
}

.gallery > a:hover {
	background-color: #ddd;
}

.gallery > a {
	width: 240px;
	height: 128px;
	margin: 4px;
	padding: 8px;
	border-radius: 8px;
	text-decoration: none;
	color: inherit;
	background-size: cover;
	background-color: #fff;
	background-blend-mode: multiply;
	box-shadow: 0 0 8px var(--shadow-color);
	border: 1px solid var(--nav-border);
	transition: 0.2s;
}

.bubble {
	background-color: var(--nav-selected);
	box-shadow: 0 0 8px var(--shadow-color);
	width: auto;
	height: auto;
	padding: 28px;
	border-radius: 64px;
	display: flex;
	margin: 12px;
	font-size: 0;
	transition: 0.2s;
}

.bubble span {
	transition: 0.2s;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 90px);
	background-color: transparent;
	padding: 8px;
	visibility: hidden;
	border-radius: 8px;
	border: 1px solid transparent;
	box-shadow: 0 0 8px transparent;

	width:0;
}

.bubble:hover {
	background-color: var(--nav-hover)
}

.bubble:hover span {
	font-size: 16px;
	width: 256px;
	visibility: visible;
	background-color: var(--bg-color);
	border: 1px solid var(--nav-border);
	box-shadow: 0 0 8px var(--shadow-color);
}

.bubble img{
	/*align-self: center;*/
	width: 72px;
	height: 72px;
}

h2 {
	text-decoration: underline;
}

.gallery > a > h2 {
	text-decoration: none;
	margin: 0;
	background-color: var(--nav-selected);
	width: fit-content;
	padding: 0 4px;
	border-radius: 8px;
	box-shadow: 0 0 8px var(--shadow-color);
}

main {
	max-width: 800px;
	margin: auto;
	padding: 24px;
}


h1 {
	font-size: 48px;
	margin: 16px 0;
	background-color: var(--nav-hover);
	padding: 12px 24px;
	border-radius: 16px;
	width: fit-content;
	display: inline-block;
	box-shadow: 0 0 5px var(--shadow-color);
}

p {
	font-size: 24px;
	line-height: 140%;
	margin: 16px 0;
}

article li {
	font-size: 24px;
	line-height: 140%;
}

a {
	color: var(--link-color);
}

hr {
	margin: 12px 0;
}

h1 img {
	object-fit:cover;
	max-width:100%;
	height:100%;
}

footer {
	width: 100%;
	background-color: var(--nav-color);
	box-shadow: 0 0 8px var(--shadow-color);
	bottom: 0;
	height: auto;
}

footer div {
	max-width: 800px;
	margin: auto;
	padding: 24px;
}

#blog h2 {
	text-decoration: none;
}
#blog p, #blog li {
	font-size: 20px;
}

#blog p {
	margin: 8px 0;
}

#blog li {
	margin: 8px 0;
}

#blog img {
	object-fit:cover;
	max-width:100%;
}
