Redirect 301 https://pgattic.github.io/yeet-ball.html https://pgattic.github.io/games/yeet-ball.html
Redirect 301 https://pgattic.github.io/yeet-ball-classic.html https://pgattic.github.io/games/yeet-ball-classic.html
Redirect 301 https://pgattic.github.io/snake.html https://pgattic.github.io/games/snake.html
Redirect 301 https://pgattic.github.io/multiplayer-snake.html https://pgattic.github.io/games/multiplayer-snake.html
Redirect 301 https://pgattic.github.io/pong.html https://pgattic.github.io/games/pong.html
Redirect 301 https://pgattic.github.io/4p-pong.html https://pgattic.github.io/games/4p-pong.html

ErrorDocument 401 /notfound.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
